@{
    Layout = "~/Areas/Security/Views/Shared/SecurityLayout.cshtml";
    ViewBag.Title = "Security Administration - Users";
}

<div id="users_section">
    
    <div id="users_list">
        <span id="header">Users</span>
        (<a id="newUser" href="/Security/Users/New/">New</a>)
        <br/>
        <br/>
        <table id="users_grid"></table>
        <table id="users_grid_pager"></table>
    </div>
</div>

<script type="text/javascript" language="javascript">

    function Show() {
        $(document).ready(function () {
            
            var consumerID = $("#consumerID").val();
            var applicationID = $("#applicationID").val();

            $("#newUser").attr("href", "/Security/Users/New/?ConsumerID=" + consumerID + "&ApplicationID=" + applicationID);

            $("#users_grid").clearGridData(false);
            if (applicationID == 0) {
                return;
            }

            var newUrl = '/Security/Users/List/?ApplicationID=' + applicationID + "&ConsumerID=" + consumerID;

            $("#users_grid").jqGrid({
                url: newUrl,
                datatype: 'json',
                mtype: 'GET',
                colNames: ['User', 'Permissions', 'Active?', 'LockedOut?', 'Actions', 'ID'],
                colModel: [
                { name: 'UserName', index: 'UserName', width: 40, align: 'center' },
                { name: 'Permissions', index: 'Permissions', width: 40, align: 'center' },
                { name: 'Active', index: 'Active', width: 40, align: 'center' },
                { name: 'LockedOut', index: 'LockedOut', width: 40, align: 'center' },
                { name: 'Actions', width: 100, align: 'center', formatter: userFormatter },
                { name: 'ID', index: 'ID', width: 40, align: 'center', hidden: true}],
                pager: $('#users_grid_pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'Id',
                sortorder: "desc",
                viewrecords: true,
                width: 1000,
                height: 200
            });

            $("#users_grid").jqGrid().setGridParam({ url: newUrl }).trigger("reloadGrid");
        });
    }

    function userFormatter(cellvalue, options, rowObject) {
        var consumerID = $("#consumerID").val();
        var applicationID = $("#applicationID").val();
        return '<a href=\'/Security/Users/Edit/?UserID=' + rowObject[4] + '&ConsumerID=' + consumerID + '&ApplicationID=' + applicationID + '\'>Edit</a>';
    }
</script>
