body{
    margin:0;
    padding:0;
    font-family:arial,san-serif;
    font-size:62.5%;/*sets default font size to 10px*/
}

#security_section 
{
    display:table
}

#security_menu_header 
{
    display: table;
    border: 1px solid #333;
    background-color: #ddd;
    width: 130px;
    height: 200px;
    padding-top: 10px;  
    padding-bottom: 10px;  
    padding-left: 10px;
}

#security_body {
    display: table-cell; 
    padding-left: 20px;
    width: 700px;
    
}

#security_menu_row {
    display:table-row
}

#security_menu {
    display: table-cell;
    padding-top: 10px;  
    padding-right: 10px;  
    padding-bottom: 10px;  
    padding-left: 10px;
    width: 100px;
    height: 200px
}

#security_details 
{
    display: table;
    background-color: #F7F7F7;
    border-top: none 0px;
    border-left: none 0px;
    border-right: solid 1px #E8E8E8;
    border-bottom: solid 1px #E8E8E8;
    padding-top: 15px;  
    padding-bottom: 20px;  
    padding-left: 10px;
    padding-right: 10px;
    width: 380px
}

#security_details #row {
    display: table-row;
}

#security_details #cell em {
    vertical-align: top;
}

#security_details #cell {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

#security_groups_roles {
    display: table;
    padding-top: 10px;  
    padding-bottom: 10px;  
}

#security_groups_roles #cell {
    display: table-cell;
    padding-right: 20px;
}

#group_list {
    padding-top: 10px;  
    padding-bottom: 10px;      
}

input[type="text"], input[type="password"]{
    font-size:12px;
    padding:2px;
    width:160px;
    font-weight:bold;
    border:solid #ccc 1px;
    font-family:arial;
    background:#fff bottom left repeat-x;
}

#title {
    padding-bottom: 10px;
}