<script type="text/javascript">
    $(document).ready(function () {
        $("#groups_grid").jqGrid({
            url: '/Security/Groups/For@(ViewBag.Type)/@(ViewBag.ID != null ? ViewBag.ID.ToString() : "")',
            datatype: 'json',
            mtype: 'GET',
            width: '400',
            rownumbers: false,
            caption: 'Manage Groups',
            colNames: ['Record Id', 'Add/Remove', 'Group', 'Permissions'],
            colModel: [
                    { name: 'recordId', index: 'recordId', hidden: true },
                    { name: 'isSelected', index: 'isSelected', sortable: false, formatter: "checkbox", formatoptions: { disabled: false }, editable: true, edittype: "checkbox" },
                    { name: 'Name', index: 'Name', hidden: false, sortable: true },
                    { name: 'permissions', index: 'permissions', hidden: false, sortable: false }
                        ],
            rowNum: 25,
            rowList: [25, 50, 100],
            pager: '#groups_grid_pager',
            emptyrecords: 'No data',
            sortname: 'Name',
            sortorder: 'asc',
            altRows: true,
            altclass: 'zebra',
            gridComplete: function () {
            }
        });
        $("#groups_grid").jqGrid('navGrid', '#presize', { edit: false, add: false, del: false });
    });

    function SetSelectedGroups() {
        var selectedGroups = new Array();

        var gridRows = $("#groups_grid").getRowData();
        for (var i = 0; i < gridRows.length; i++) {
            if (gridRows[i].isSelected == 'Yes') {
                selectedGroups[selectedGroups.length] = gridRows[i].recordId;
            }
        }
        $("#selectedGroups").val(selectedGroups);
    }
</script>

<div id="group_list">
    <table id="groups_grid">
    </table>
    <div id="groups_grid_pager">
    </div>
</div>

<input type="hidden" name="SelectedGroups" id="selectedGroups" value="" />