@model Siege.Security.User
<div>
    <a href="/Security/Users/Details/@Model.ID">Details</a> | <a href="/Security/Users/Edit/@Model.ID">Edit</a> | <a href="/Security/Users/Disable/@Model.ID">Disable</a>
</div>

lol